--
-- PostgreSQL database dump
--

\restrict cMcIfGI18aHcnOUtJNJsPGt3RdTY7F1rFbmSFeXHtV8HGbolX9RC9aMay26cQbE

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_index; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_index (
    index_id integer NOT NULL,
    index_date date NOT NULL,
    frequency character varying(10),
    index_value numeric(10,4),
    route_id integer
);


ALTER TABLE public.daily_index OWNER TO postgres;

--
-- Name: daily_index_index_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.daily_index_index_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_index_index_id_seq OWNER TO postgres;

--
-- Name: daily_index_index_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.daily_index_index_id_seq OWNED BY public.daily_index.index_id;


--
-- Name: dgca_historical; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dgca_historical (
    id integer NOT NULL,
    month date NOT NULL,
    route_id integer,
    avg_fare numeric(10,2),
    passenger_count integer
);


ALTER TABLE public.dgca_historical OWNER TO postgres;

--
-- Name: dgca_historical_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dgca_historical_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dgca_historical_id_seq OWNER TO postgres;

--
-- Name: dgca_historical_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dgca_historical_id_seq OWNED BY public.dgca_historical.id;


--
-- Name: fare_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fare_quotes (
    quote_id bigint NOT NULL,
    route_id integer,
    search_date date NOT NULL,
    travel_date date NOT NULL,
    advance_purchase_days integer NOT NULL,
    carrier character varying(50),
    flight_number character varying(20),
    fare_class character varying(20),
    base_fare numeric(10,2),
    taxes_and_fees numeric(10,2),
    total_fare numeric(10,2),
    seat_status character varying(20),
    source_site character varying(50),
    scraped_at timestamp without time zone DEFAULT now(),
    is_outlier boolean DEFAULT false
);


ALTER TABLE public.fare_quotes OWNER TO postgres;

--
-- Name: fare_quotes_quote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fare_quotes_quote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fare_quotes_quote_id_seq OWNER TO postgres;

--
-- Name: fare_quotes_quote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fare_quotes_quote_id_seq OWNED BY public.fare_quotes.quote_id;


--
-- Name: index_confidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.index_confidence (
    confidence_id integer NOT NULL,
    index_date date NOT NULL,
    confidence_score numeric(5,2),
    expected_points integer,
    actual_points integer,
    reason text
);


ALTER TABLE public.index_confidence OWNER TO postgres;

--
-- Name: index_confidence_confidence_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.index_confidence_confidence_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.index_confidence_confidence_id_seq OWNER TO postgres;

--
-- Name: index_confidence_confidence_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.index_confidence_confidence_id_seq OWNED BY public.index_confidence.confidence_id;


--
-- Name: route_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.route_metrics (
    metric_id integer NOT NULL,
    metric_date date NOT NULL,
    route_id integer,
    avg_fare numeric(10,2),
    contribution_pct numeric(6,2),
    health_score numeric(5,2),
    volatility_label character varying(30)
);


ALTER TABLE public.route_metrics OWNER TO postgres;

--
-- Name: route_metrics_metric_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.route_metrics_metric_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.route_metrics_metric_id_seq OWNER TO postgres;

--
-- Name: route_metrics_metric_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.route_metrics_metric_id_seq OWNED BY public.route_metrics.metric_id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routes (
    route_id integer NOT NULL,
    origin character varying(3) NOT NULL,
    destination character varying(3) NOT NULL,
    dgca_weight numeric(6,4)
);


ALTER TABLE public.routes OWNER TO postgres;

--
-- Name: routes_route_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.routes_route_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_route_id_seq OWNER TO postgres;

--
-- Name: routes_route_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.routes_route_id_seq OWNED BY public.routes.route_id;


--
-- Name: daily_index index_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_index ALTER COLUMN index_id SET DEFAULT nextval('public.daily_index_index_id_seq'::regclass);


--
-- Name: dgca_historical id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dgca_historical ALTER COLUMN id SET DEFAULT nextval('public.dgca_historical_id_seq'::regclass);


--
-- Name: fare_quotes quote_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fare_quotes ALTER COLUMN quote_id SET DEFAULT nextval('public.fare_quotes_quote_id_seq'::regclass);


--
-- Name: index_confidence confidence_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.index_confidence ALTER COLUMN confidence_id SET DEFAULT nextval('public.index_confidence_confidence_id_seq'::regclass);


--
-- Name: route_metrics metric_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_metrics ALTER COLUMN metric_id SET DEFAULT nextval('public.route_metrics_metric_id_seq'::regclass);


--
-- Name: routes route_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes ALTER COLUMN route_id SET DEFAULT nextval('public.routes_route_id_seq'::regclass);


--
-- Data for Name: daily_index; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.daily_index (index_id, index_date, frequency, index_value, route_id) FROM stdin;
16	2026-08-28	daily	100.0000	\N
17	2026-08-29	daily	109.5155	\N
18	2026-08-30	daily	109.6831	\N
19	2026-08-31	daily	102.7824	\N
20	2026-09-02	daily	103.5117	\N
21	2026-09-03	daily	102.3872	\N
\.


--
-- Data for Name: dgca_historical; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dgca_historical (id, month, route_id, avg_fare, passenger_count) FROM stdin;
\.


--
-- Data for Name: fare_quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: index_confidence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: route_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.routes (route_id, origin, destination, dgca_weight) FROM stdin;
1	DEL	BOM	0.2903
291	DEL	BLR	0.2049
490	BOM	BLR	0.1748
647	DEL	CCU	0.1216
807	BLR	HYD	0.1064
901	MAA	DEL	0.1019
\.


--
-- Name: daily_index_index_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_index_index_id_seq', 21, true);


--
-- Name: dgca_historical_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dgca_historical_id_seq', 1, false);


--
-- Name: fare_quotes_quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fare_quotes_quote_id_seq', 7081, true);


--
-- Name: index_confidence_confidence_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.index_confidence_confidence_id_seq', 6, true);


--
-- Name: route_metrics_metric_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.route_metrics_metric_id_seq', 36, true);


--
-- Name: routes_route_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.routes_route_id_seq', 7081, true);


--
-- Name: daily_index daily_index_index_date_frequency_route_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_index
    ADD CONSTRAINT daily_index_index_date_frequency_route_id_key UNIQUE (index_date, frequency, route_id);


--
-- Name: daily_index daily_index_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_index
    ADD CONSTRAINT daily_index_pkey PRIMARY KEY (index_id);


--
-- Name: dgca_historical dgca_historical_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dgca_historical
    ADD CONSTRAINT dgca_historical_pkey PRIMARY KEY (id);


--
-- Name: fare_quotes fare_quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fare_quotes
    ADD CONSTRAINT fare_quotes_pkey PRIMARY KEY (quote_id);


--
-- Name: index_confidence index_confidence_index_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.index_confidence
    ADD CONSTRAINT index_confidence_index_date_key UNIQUE (index_date);


--
-- Name: index_confidence index_confidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.index_confidence
    ADD CONSTRAINT index_confidence_pkey PRIMARY KEY (confidence_id);


--
-- Name: route_metrics route_metrics_metric_date_route_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_metrics
    ADD CONSTRAINT route_metrics_metric_date_route_id_key UNIQUE (metric_date, route_id);


--
-- Name: route_metrics route_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_metrics
    ADD CONSTRAINT route_metrics_pkey PRIMARY KEY (metric_id);


--
-- Name: routes routes_origin_destination_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_origin_destination_key UNIQUE (origin, destination);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (route_id);


--
-- Name: idx_confidence_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_confidence_date ON public.index_confidence USING btree (index_date);


--
-- Name: idx_fare_quotes_route; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fare_quotes_route ON public.fare_quotes USING btree (route_id);


--
-- Name: idx_fare_quotes_search_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fare_quotes_search_date ON public.fare_quotes USING btree (search_date);


--
-- Name: idx_route_metrics_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_route_metrics_date ON public.route_metrics USING btree (metric_date);


--
-- Name: daily_index daily_index_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_index
    ADD CONSTRAINT daily_index_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(route_id);


--
-- Name: dgca_historical dgca_historical_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dgca_historical
    ADD CONSTRAINT dgca_historical_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(route_id);


--
-- Name: fare_quotes fare_quotes_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fare_quotes
    ADD CONSTRAINT fare_quotes_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(route_id);


--
-- Name: route_metrics route_metrics_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_metrics
    ADD CONSTRAINT route_metrics_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(route_id);


--
-- PostgreSQL database dump complete
--

\unrestrict cMcIfGI18aHcnOUtJNJsPGt3RdTY7F1rFbmSFeXHtV8HGbolX9RC9aMay26cQbE

